* {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img, a, video {
  display: block;
}

p a {
  display: inline-block;
}

li {
  list-style-type: none;
}

/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Romie";
  src: url(../font/Romie/Romie-Regular-Italic.ttf) format("truetype"), url(../font/Romie/Romie-Regular-Italic.otf) format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Romie";
  src: url(../font/Romie/Romie-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Romie";
  src: url(../font/Romie/Romie-Black.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Romie";
  src: url(../font/Romie/Romie-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Romie";
  src: url(../font/Romie/Romie-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-grey: rgba(255,255,255,.7);
  --color-yellow: #dcf263;
  --color-white: white;
  --color-green: #3e503a;
  --color-bgr-grey: rgba(238,236,232,.63);
  --color-red: #aa4935;
  --color-dark-red: #6a1606;
  --color-text-grey: rgba(0,0,0,.6);
  --color-light-green: #52870b;
  --color-loader: #6a7870;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  overflow-x: clip;
  font-family: "Inter", sans-serif;
}

.header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  font-family: "Inter", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  mix-blend-mode: difference;
  z-index: 1;
}
.header__title {
  font-size: 0.8125rem;
  font-weight: 600;
  color: var(--color-white);
}
.header__title-link {
  text-decoration: none;
  color: inherit;
  letter-spacing: 1px;
}
.header__nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.header__nav {
  font-weight: 400;
  color: var(--color-white);
  font-size: 0.8rem;
}
.header__burger-menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger-container {
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.header__line {
  width: 100%;
  height: 1px;
  background: var(--color-white);
}

.app {
  position: relative;
}

.second {
  width: 100vw;
  height: 100dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
}

.main {
  background: #f4f3f0;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-perspective-origin: 100%;
          perspective-origin: 100%;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  width: auto;
}

.section {
  width: auto;
  height: 100dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.home {
  min-width: 60vw;
  height: 100vh;
  background: var(--color-green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__container {
  width: 32.5rem;
  font-family: "Romie";
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.home__title {
  font-size: clamp(32px, 9.75vmin, 100px);
  font-weight: inherit;
  color: var(--color-yellow);
  -webkit-font-feature-settings: "liga", "dlig", "hlig", "calt";
          font-feature-settings: "liga", "dlig", "hlig", "calt";
  text-transform: uppercase;
  line-height: 7rem;
}
.home__title-span {
  text-align: right;
  display: block;
}
.home__title-century {
  -webkit-font-feature-settings: initial;
          font-feature-settings: initial;
}
.home__text {
  font-family: "Inter", sans-serif;
  color: var(--color-grey);
  line-height: 1.5;
}
.home__link {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__arrow {
  width: 36px;
  height: 36px;
  color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  border-radius: 50%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room {
  width: 100vw;
  max-width: 1200px;
  overflow: hidden;
}
.room__background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.yellow {
  width: 38vw;
  background: var(--color-yellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.yellow__image-wrapper {
  width: 100%;
  height: 40rem;
  position: relative;
}
.yellow__image-container {
  width: 100%;
  position: absolute;
}
.yellow__image2 {
  left: 15%;
  z-index: 3;
}
.yellow__image3 {
  width: 56%;
  height: 68vh;
  background: var(--color-red);
  top: -5%;
  right: -18%;
  z-index: 1;
}
.yellow__image {
  width: 100%;
  position: absolute;
}
.yellow__image--bck {
  bottom: 0;
}

.grey {
  width: 79vw;
  background: var(--color-bgr-grey);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grey__marry-wrapper {
  position: absolute;
  top: -6%;
  left: -15%;
}
.grey__marry-image {
  width: 35rem;
}
.grey__layer-wrapper {
  position: absolute;
  bottom: 0%;
  right: 13.2%;
}
.grey__layer-image {
  width: 22rem;
}
.grey__wrapper {
  max-width: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.grey__image-wrapper {
  width: 20rem;
}
.grey__image {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grey__text-wrapper {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 20px;
}
.grey__mansion {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-light-green);
  text-transform: uppercase;
}
.grey__title {
  font-family: "Romie", sans-serif;
  font-size: 4.7rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 4.2rem;
}
.grey__text {
  max-width: 26.3rem;
  color: var(--color-text-grey);
  text-align: initial;
  line-height: 1.5;
}
.grey__link {
  min-width: 26.3rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-align: initial;
  display: flex;
}
.grey__arrow {
  width: 36px;
  height: 36px;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.green {
  min-width: 25rem;
  max-width: 25rem;
  background: url(../assets/65df8b1fd5e69c7cf961c88c_Texture.jpg) no-repeat center center/cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.green__image-wrapper {
  position: absolute;
  left: -65%;
}
.green__image {
  max-width: 520px;
  -o-object-fit: cover;
     object-fit: cover;
}

.collection {
  width: 87vw;
  background: var(--color-bgr-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.collection__wrapper {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Romie";
}
.collection__text-wrapper {
  max-width: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-right: 2.5rem;
}
.collection__mansion {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  color: var(--color-red);
  text-align: center;
  display: block;
}
.collection__title {
  font-size: clamp(36px, 5.5vw, 75px);
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  line-height: 4rem;
  -webkit-font-feature-settings: "liga", "dlig", "hlig", "calt";
          font-feature-settings: "liga", "dlig", "hlig", "calt";
}
.collection__title-span {
  text-transform: lowercase;
  font-style: italic;
}
.collection__text {
  max-width: 26.3rem;
  font-family: "Inter", sans-serif;
  color: var(--color-text-grey);
  font-weight: 400;
  text-align: left;
}
.collection__link {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 13.5rem;
}
.collection__arrow {
  width: 36px;
  height: 36px;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.collection__list-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.collection__list {
  width: 100%;
  counter-reset: item;
}
.collection__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.collection__item::before {
  counter-increment: item;
  content: "0" counter(item);
  font-size: 0.8rem;
  line-height: 2;
  padding-right: 5rem;
  font-family: "Inter", sans-serif;
  position: absolute;
  padding: 0.5rem 0;
  font-weight: 600;
}
.collection__item:nth-child(10)::before {
  content: counter(item);
}
.collection__item:hover, .collection__item:hover .collection__filters {
  color: red;
}
.collection__item .collection__filters-arrow {
  font-size: 5rem;
  width: 0;
  height: 0;
  z-index: 2;
  opacity: 0;
  position: relative;
  line-height: 0.6;
}
.collection__item:hover .collection__filters-arrow {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  opacity: 1;
}
.collection__item .collection__filters-content {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  z-index: 999;
}
.collection__item:hover .collection__filters-content {
  -webkit-transform: translate(3rem);
          transform: translate(3rem);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.collection__filters {
  font-family: "Romie";
  text-decoration: none;
  color: black;
  font-size: 3.5rem;
  margin-left: 5.5rem;
  line-height: 1;
  padding: 0.5rem 0;
}

.history {
  width: 73vw;
  background: var(--color-red);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.history__background {
  width: 40rem;
  height: 100%;
  background: var(--color-dark-red);
  position: absolute;
  top: 0;
  right: 0;
}
.history__image-texture {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.history__wrapper {
  width: 84%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Romie";
  z-index: 2;
  position: static;
}
.history__text-wrapper {
  max-width: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-right: 2.5rem;
  position: relative;
}
.history__mansion {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  color: var(--color-white);
  text-align: center;
  display: block;
}
.history__title {
  font-size: clamp(36px, 5.5vw, 75px);
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  line-height: 4rem;
  color: var(--color-white);
}
.history__title-span {
  text-transform: lowercase;
  font-style: italic;
}
.history__text {
  max-width: 26.3rem;
  font-family: "Inter", sans-serif;
  color: var(--color-bgr-grey);
  font-weight: 400;
  text-align: left;
}
.history__link {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 13.5rem;
}
.history__arrow {
  width: 36px;
  height: 36px;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 50%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.history__wrapper-image {
  width: 42rem;
}
.history__image-primary {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/2;
}

.flowers {
  width: 50vw;
  overflow: hidden;
}
.flowers__background {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.explore {
  width: 55vw;
  background: var(--color-bgr-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.explore__wrapper {
  width: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Romie";
  z-index: 2;
  position: static;
  margin-left: 4rem;
}
.explore__text-wrapper {
  max-width: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  position: relative;
}
.explore__mansion {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  color: var(--color-red);
  text-align: center;
  display: block;
}
.explore__title {
  font-size: clamp(36px, 5.5vw, 75px);
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  line-height: 4rem;
  color: black;
}
.explore__title-span {
  text-transform: lowercase;
  font-style: italic;
}
.explore__text {
  max-width: 30rem;
  font-family: "Inter", sans-serif;
  color: var(--color-text-grey);
  font-weight: 400;
  text-align: left;
  margin-left: 3.5rem;
}
.explore__link {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 13.5rem;
}
.explore__arrow {
  width: 36px;
  height: 36px;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.explore__decoration {
  position: absolute;
}
.explore__container-image1 {
  width: 21rem;
  height: auto;
  background: red;
  left: -10%;
  top: 25%;
}
.explore__container-image2 {
  width: 9rem;
  left: 12%;
  bottom: 26%;
}
.explore__container-image3 {
  width: 11rem;
  right: -9%;
  bottom: 5.4%;
  z-index: 2;
}
.explore__imagedc {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video {
  width: 100vw;
}
.video__label {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  width: 85vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__wrapper {
  width: 89.5%;
  height: 88%;
  font-family: "Romie";
  position: relative;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__wrapper-left {
  width: 42.5rem;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__background-image {
  width: 42.5rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.footer__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__text-wrapper {
  max-width: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 2rem;
  position: relative;
  color: var(--color-white);
  margin-bottom: 80px;
}
.footer__mansion {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  text-align: left;
  display: block;
}
.footer__title {
  font-size: clamp(32px, 7vmin, 65px);
  font-weight: 100;
  text-transform: uppercase;
  text-align: left;
  line-height: 4rem;
}
.footer__title-span {
  text-transform: lowercase;
  font-style: italic;
}
.footer__text {
  max-width: 30rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: left;
  margin-left: 3.5rem;
}
.footer__link {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 13.5rem;
}
.footer__arrow {
  width: 36px;
  height: 36px;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 50%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__wrapper-right {
  width: 57rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 5rem;
}
.footer__address {
  width: 100%;
  height: 25rem;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 1rem 0 2rem;
}
.footer__label {
  width: 48%;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  color: #333;
  letter-spacing: 0.5px;
}
.footer__value {
  width: 52%;
  font-family: "Romie";
  font-size: clamp(24px, 6vmin, 48px);
  line-height: 1.1;
}
.footer__value-link {
  text-decoration: none;
  color: #333;
}
.footer__about {
  width: 100%;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__wrapper-left--about {
  width: inherit;
}
.footer__list-about {
  width: 15rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.footer__item-about {
  width: auto;
}
.footer__item-about a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.footer__logo-image {
  position: relative;
  height: 80px;
}
.footer__logo-image img {
  position: absolute;
  right: 2%;
  top: -40%;
}
.footer__wrapper-right--about {
  width: 80%;
}
.footer__wrapper-right--about p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.footer__wrapper-right--about a {
  color: rgba(0, 0, 0, 0.6);
}

.preload {
  width: 100%;
  height: 100vh;
  background: var(--color-loader);
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeOut 1s linear 1 1s both;
          animation: fadeOut 1s linear 1 1s both;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.preload__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.preload__image {
  width: 8.75em;
  opacity: 0.5;
}
.preload__loading {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  opacity: 0.45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.preload__loader-dot {
  position: relative;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 100px;
  opacity: 1;
}
.preload__loader-dot.one {
  -webkit-animation: loading 0.5s alternate infinite;
          animation: loading 0.5s alternate infinite;
}
.preload__loader-dot.two {
  -webkit-animation: loading 0.5s 0.2s alternate infinite;
          animation: loading 0.5s 0.2s alternate infinite;
}
.preload__loader-dot.three {
  -webkit-animation: loading 0.5s 0.4s alternate infinite;
          animation: loading 0.5s 0.4s alternate infinite;
}

@-webkit-keyframes loading {
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  100% {
    opacity: 0;
  }
}